#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define U_TAPPING_TERM 200

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors = <&zip_xy_scaler 1 2>, <&zip_temp_layer 4 400>;

        // Switch to auto-mouse temp layer, decrease sensitivity

        scroll {
            layers = <5>; // SCROLL
            input-processors =
                <&zip_xy_to_scroll_mapper>,
                <&zip_scroll_transform (INPUT_TRANSFORM_Y_INVERT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <19 20>;
            timeout-ms = <35>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <16 15>;
            timeout-ms = <35>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <15 14>;
            timeout-ms = <35>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        left_click {
            bindings = <&mkp LCLK>;
            key-positions = <4 16>;
            timeout-ms = <70>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        greater_than {
            bindings = <&kp GREATER_THAN>;
            key-positions = <6 18>;
            timeout-ms = <70>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        less_than {
            bindings = <&kp LESS_THAN>;
            key-positions = <18 30>;
            timeout-ms = <70>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        right_parenthesis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <7 19>;
            timeout-ms = <70>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        left_parenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <19 31>;
            timeout-ms = <70>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        right_brace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <8 20>;
            timeout-ms = <70>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        left_brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <20 32>;
            timeout-ms = <70>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        right_bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <9 21>;
            timeout-ms = <70>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        left_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <21 33>;
            timeout-ms = <70>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };

        right_click {
            bindings = <&mkp RCLK>;
            key-positions = <16 28>;
            timeout-ms = <70>;
            require-prior-idle-ms = <150>;
            layers = <0>;
        };
    };

    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <39 40 30 31 19 18 6 7 8 9 10 11 20 21 22 23 32 33 34 35>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <38 37 36 29 28 27 26 25 24 12 13 14 15 17 16 5 4 3 2 1 0>;
        };

        coma_semicolon: coma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COMA_SEMICOLON";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COLON";
            bindings = <&kp DOT>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&trans  &kp J        &kp C         &kp Y         &kp F             &kp K          &kp Z            &kp L             &coma_semicolon  &kp U               &kp Q              &trans
&trans  &hml LGUI R  &hml LSHFT S  &hml LCTRL T  &hml RIGHT_ALT H  &kp D          &kp M            &hmr RIGHT_ALT N  &hmr RCTRL A     &hmr RIGHT_SHIFT I  &hmr LGUI O        &trans
&trans  &kp SLASH    &kp V         &kp G         &kp P             &kp B          &kp X            &kp W             &dot_colon       &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &trans
                                   &mo 5         &lt 3 E           &lt 1 SPACE    &lt 2 BACKSPACE  &sk LEFT_SHIFT
            >;
        };

        numbers {
            bindings = <
&trans  &kp EXCLAMATION  &kp AT_SIGN   &kp HASH      &kp DOLLAR    &kp PERCENT     &kp CARET     &kp AMPERSAND  &kp ASTERISK  &trans        &trans        &trans
&trans  &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7   &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&trans  &trans           &trans        &trans        &trans        &trans          &trans        &trans         &trans        &trans        &trans        &trans
                                       &trans        &trans        &trans          &trans        &trans
            >;
        };

        symbols {
            bindings = <
&trans  &kp PIPE       &kp UNDERSCORE  &kp PLUS   &kp DOUBLE_QUOTES  &kp GRAVE    &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &trans  &trans
&trans  &kp BACKSLASH  &kp MINUS       &kp EQUAL  &kp SINGLE_QUOTE   &kp TILDE    &kp LESS_THAN     &kp LEFT_PARENTHESIS   &kp LEFT_BRACE   &kp LEFT_BRACKET   &trans  &trans
&trans  &trans         &trans          &trans     &trans             &trans       &trans            &trans                 &trans           &trans             &trans  &trans
                                       &trans     &trans             &trans       &trans            &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &kp ENTER       &kp ESCAPE    &kp TAB          &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans        &trans           &trans  &trans
                        &trans  &trans  &trans    &trans          &trans
            >;
        };

        slow {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
            >;
        };

        scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
            >;
        };
    };
};
